# Virtualenv and packages
env/
vendored/

# Compiled binaries
*.pyc

# Packaged Lambda function
requeue_lambda.zip

# Terraform state and modules
terraform/usage/terraform.tfstate*
terraform/usage/.terraform/*
